<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD068cH8rcSpA02VeM5dIUmtmt8OC6n3Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>916324252005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebasePushNotification</string>
	<key>PROJECT_ID</key>
	<string>my-firebase-push-notif-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>my-firebase-push-notif-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916324252005:ios:d4217362c804e36707098c</string>
</dict>
</plist>